* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#content {
    margin: 40px;
    display: flex;
    gap: 40px;;
}

#buttons {
    display: flex;
    align-items: flex-end;
}

#newbutton {
    background-color: beige;
    border: rgb(86, 229, 222) 5px solid;
    color: rgb(86, 229, 222);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

#newbutton:hover {
    background-color: rgb(86, 229, 222);
    border: rgb(86, 229, 222) 6px solid;
    color: beige;
}

#grid {
    background-color: beige;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}
